    <!DOCTYPE html>
    <html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/style/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap" rel="stylesheet">
        <title>Ascii-art-web</title>
        <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="wrapp_header">  
                    <a href="/"><div class="logo"></div></a>  
                    <h1 class="title">ascii-art-web</br>stylize</h1>
                    <a class="about" href="./about.html">About this project</a>
                </div>
            </header>
            <form class="form" method="post" action="/ascii-art">
                <div class="block">
                    <textarea class="text" rows="10" cols="20" name="input" id="1"></textarea>
                    <label for="someId" class="form__label1">Type text: Hello World</label>
                </div>
                <div class="banner">        
                    <button class="button" value="standard.txt" name="banner" >
                        <div class="button_1 button"></div>
                        <span>Standard</span>
                    </button>
                    <button class="button" value="shadow.txt" name="banner" >
                        <div class="button_2 button"></div>
                        <span>Shadow</span>
                    </button>                               
                    <button class="button" value="thinkertoy.txt" name="banner">
                        <div class="button_3 button"></div>
                        <span>Thinkertoy</span>
                    </button>
                </div> 
                <pre class="pre">Ascii-art</br>{{ . }}</pre>
            </form>
        </div>
        <script src="/static/js/main.js"></script>
    </body>
    </html>
    
    